.movies-card {
    display: grid;
    grid-template-columns: 264px 66px;
    grid-template-rows: 201px 32px;
    column-gap: 30px;
    row-gap: 14px;
    position: relative;
}

.movies-card__image {
    position: relative;
    width: 360px;
    height: 201px;
    border-radius: 6px;
    grid-column: 1/3;
}

.movies-card__save-button {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
    right: 14px;
    top: 14px;
    width: 72px;
    height: 21px;
    padding: 6px 7px;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.movies-card__save-button::after {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    top: 6px;
    right: 10px;
    content: "Сохранить";
}

.movies-card__save-button_saved {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-image: url(../../images/tick.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #EE3465;
}

.movies-card__save-button_saved::after {
    display: none;
}

.movies-card__delete-button {
    border: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 50%;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 21px;
    height: 21px;
    background-image: url(../../images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #F4F4F4;
    opacity: 0;
    transition: all 0.2s;
}


.movies-card:hover .movies-card__save-button {
    opacity: 1;
}

.movies-card:hover .movies-card__delete-button {
    opacity: 1;
}

.movies-card__name {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-left: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movies-card__time {
    box-sizing: border-box;
    margin: 0;
    margin-right: 14px;
    padding: 3px 4px;
    background-color: #F4F4F4;
    height: 18px;
    border-radius: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    color: #A0A0A0;
}


@media (max-width: 890px) {
    .movies-card {
        box-sizing: border-box;
        grid-template-columns: 250px 52px;
        grid-template-rows: 190px 16px;
        column-gap: 37px;
        row-gap: 25px;
        position: relative;
    }

    .movies-card__name {
        margin-left: 0px;
        white-space: nowrap;
        overflow: hidden;
    }

    .movies-card__image {
        position: relative;
        width: 339px;
        height: 190px;
    }

    .movies-card__time {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .movies-card {
        box-sizing: border-box;
        grid-template-columns: 240px 52px;
        grid-template-rows: 168px 15px;
        column-gap: 8px;
        row-gap: 16px;
        position: relative;
    }

    .movies-card__name {
        margin-left: 0px;
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__image {
        position: relative;
        width: 300px;
        height: 168px;
    }

    .movies-card__time {
        margin-right: 0px;
        font-size: 11px;
        line-height: 10px;
    }
}

@media (max-width: 650px) {
    .movies-card {
        box-sizing: border-box;
        grid-template-columns: 250px 52px;
        grid-template-rows: 190px 16px;
        column-gap: 37px;
        row-gap: 25px;
        position: relative;
    }

    .movies-card__name {
        margin-left: 0px;
        white-space: nowrap;
        overflow: hidden;
    }

    .movies-card__image {
        position: relative;
        width: 339px;
        height: 190px;
    }

    .movies-card__time {
        margin-right: 0px;
    }
}

@media (max-width: 410px) {
    .movies-card {
        box-sizing: border-box;
        grid-template-columns: 240px 52px;
        grid-template-rows: 168px 15px;
        column-gap: 8px;
        row-gap: 16px;
        position: relative;
    }

    .movies-card__name {
        margin-left: 0px;
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__image {
        position: relative;
        width: 300px;
        height: 168px;
    }

    .movies-card__time {
        margin-right: 0px;
        font-size: 11px;
        line-height: 10px;
    }
}